<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{scaffolds/refilled}"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  th:lang="${(#locale?:T(java.util.Locale).default).language}">
<head>
  <meta charset="UTF-8" />
  <title>Index Page</title>
</head>
<body>
  <section layout:fragment="content">
    <p th:text="${T(jp.furplag.sandbox.reflect.SavageReflection).read(#locale)?:'Nope'}"></p>
    <p th:text="${#locale.displayName}"></p>
    <p th:text="${#authentication}"></p>
    <div th:if="${_csrf}">
      <p style="background: rgba(32,32,32, 1); color: #efefef;" th:text="${_csrf}"></p>
      <p style="background: rgba(32,32,32, 1); color: #efefef;" th:text="${_csrf.headerName}"></p>
      <p style="background: rgba(32,32,32, 1); color: #efefef;" th:text="${_csrf.parameterName}"></p>
      <p style="background: rgba(32,32,32, 1); color: #efefef;" th:text="${_csrf.token}"></p>
    </div>
  </section>
</body>
</html>
